$green-color: #049372;
$background-color: #0493721c;
$light-green: #e3f3f0;
$border: rgba(0, 0, 0, 0.137);
body {
  color: #333;
}
.flex {
  display: flex;
}
.center {
  text-align: center;
  align-items: center;
}
.cover-image {
    position: relative;
    .cover-image {
        opacity: 2;
    }
    .cover-photo {
        height: 260px;
    }
    img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .avatar {
        width: 130px;
        height: auto;
        border-radius: 50%;
        border: 2px solid white;
        position: absolute;
        top: 160px;
        right: 250px;
    }
    .cover-profile {
        line-height: 5px;
        position: absolute;
        top: 180px;
        right: 60px;
        color:white;
        h3 {
            font-size: 25px;
            color:rgba(255, 255, 255, 0.952);
        }
        p {
            margin-left: 5px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.534);
        }
    }
}
.box-menu {
    border: 1px solid $border;
    margin-top: -7px;
    border-top:none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    Tab:active {
        color: $green-color !important;
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: $green-color;
        border: $green-color !important;
    }
    .MuiTabs-scroller {
        margin-left: 30px;
    }
    .MuiTabs-indicator {
        background-color: $green-color;
        margin-left: -2px;
    }
}
.card-styled {
    padding: 20px;
    border: 1px solid $border;
    border-radius: 10px !important;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.profile-left {
    width: 30%;
    .follower {
        line-height: 10px;
        align-items: center;
        text-align: center;
        .vl {
            border-left: 1px solid $border;
            height: 50px;
            align-items: center;
            margin: auto;
          }
        .follower-column {
          width: 40%;
        }
    }
    .about-content {
      .icon {
        margin-right: 10px;
      }
      .info {
        display: flex;
        align-items: center;
        margin: 0 auto;
        line-height: 40px;
      }
    }

    .social {
      display: flex;
      margin-right: 10px;
      overflow: hidden;
      img {
        padding-right: 10px;
        width: 30px;
        height: auto;
      }
      align-items: center;
      margin: 0 auto;
    }
    
}
.profile-right {
    width: 68%;
    .textarea-post {
        border: 1px solid $border;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        height: 200px;
        font-size: 15px;
        color: $green-color;
    }
    textarea::placeholder { 
        color: #0493727a;
        opacity: 1; /* Firefox */
    }
    button {
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        border: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        background-color: $green-color;
        color:white;
        padding: 15px 20px;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        &:hover {
            background-color: #2EE59D;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
         }
    }
  .post-content {
    .ava-name {
      strong {
        font-size: 15px;
      }
      img {
        width: 45px;
        height: auto;
        border-radius: 50%;
        align-items: center;
      }
      .name-info {
        padding-top: 10px;
        padding-left: 10px;
        margin: auto;
        align-items: center;
        line-height: 7px;
        p {
          font-size: 12px;
          color:rgba(128, 128, 128, 0.808);
        }
      }
    }
    .post-img {
      width: 100%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  .caption {
    font-size: 15px;
  }
  .group {
    align-items: center;
    margin: auto;
  }
  .groupA {
    width: 33%;
    align-items: center;
    margin: auto 0;
  }
  .fav-icon {
    color: rgba(255, 0, 0, 0.808) !important;
    align-items: center;
    margin-top: 5px;
  }
  .groupIcon {
    width: 10%;
  }
  .comment {  
    .comment-card {
      width: 92%;
      background-color: #f4f6f8;
      padding:20px 15px 10px 15px;
      border-radius: 10px;
      p {
        color: gray;
        font-size: 15px;
        line-height: 18px;
      }
      .date {
        font-size: 12px;
        align-items: center;
        margin-top: 0;
      }
    }
  }
}


